<section class="index-page">
	<a href="{{ settings.landing_hero_link }}" onclick="_gaq.push(['_trackEvent', 'Home Page', 'Banner Click', '{{ settings.landing_hero_headline | json | remove: '"' }}{% if settings.landing_hero_subheadline_enabled %} {{ settings.landing_hero_subheadline | json | remove: '"' }}{% endif %}']);">
		<figure class="sixteen columns  hero {{ settings.landing_hero_headline_color }} ">
				<div class="overlay"></div>
				{% unless settings.landing_hero_rich_enabled %}
				<img class="scale-with-grid" src="{{ "landing_hero.jpg" | asset_url }}" alt="{{ settings.landing_hero_alt }}">
				{% else %}
				{% assign rich_content = settings.landing_hero_rich_content %}
					{% include 'landing-rich-content' %}
				{% endunless %}
				{% if settings.landing_hero_headline_enabled %}
				<figcaption>
					<h2>{{ settings.landing_hero_headline }}</h2>
					{% if settings.landing_hero_subheadline_enabled %}
						<h3>{{ settings.landing_hero_subheadline }}</h3>
					{% endif %}
				</figcaption>
				{% endif %}
		</figure>
	</a>
	{% if settings.landing_row1_enabled %}
		{% assign row1_cols = 0 %}
		{% if settings.landing_row1_cols == "1" %}
			{% assign row1_cols = 1 %}
		{% endif %}
		{% if settings.landing_row1_cols == "2" %}
			{% assign row1_cols = 2 %}
		{% endif %}
		{% if settings.landing_row1_cols == "3" %}
			{% assign row1_cols = 3 %}
		{% endif %}
		<div class="row">
			{% if row1_cols >= 1 %}
			<a href="{{ settings.landing_row1_img1_link }}" onclick="_gaq.push(['_trackEvent', 'Home Page', 'Banner Click', '{{ settings.landing_row1_img1_headline | json | remove: '"' }}{% if settings.landing_row1_img1_subheadline_enabled %} {{ settings.landing_row1_img1_subheadline | json | remove: '"' }}{% endif %}']);">
				<figure class="{{ settings.landing_row1_img1_hcolor }} {{ settings.landing_row1_img1_width }}">
					<div class="overlay"></div>
					{% unless settings.landing_row1_img1_rich_enabled %}
					<img class="scale-with-grid" src="{{ 'landing_row1_img1.jpg' | asset_url }}" alt="{{ settings.landing_row1_img1_alt }}">
					{% else %}
					{% assign rich_content = settings.landing_row1_img1_rich_content %}
						{% include 'landing-rich-content' %}
					{% endunless %}
					{% if settings.landing_row1_img1_headline_enabled %}
					<figcaption>
						<h2>{{ settings.landing_row1_img1_headline }}</h2>
						{% if settings.landing_row1_img1_subheadline_enabled %}
							<h3>{{ settings.landing_row1_img1_subheadline }}</h3>
						{% endif %}
					</figcaption>
				{% endif %}
				</figure>
			</a>
			{% endif %}
			{% if row1_cols >= 2 %}
			<a href="{{ settings.landing_row1_img2_link }}" onclick="_gaq.push(['_trackEvent', 'Home Page', 'Banner Click', '{{ settings.landing_row1_img2_headline | json | remove: '"' }}{% if settings.landing_row1_img2_subheadline_enabled %} {{ settings.landing_row1_img2_subheadline | json | remove: '"' }}{% endif %}']);">
				<figure class="{{ settings.landing_row1_img2_hcolor }} {{ settings.landing_row1_img2_width }}">
					<div class="overlay"></div>
					{% unless settings.landing_row1_img2_rich_enabled %}
					<img class="scale-with-grid" src="{{ 'landing_row1_img2.jpg' | asset_url }}" alt="{{ settings.landing_row1_img2_alt }}">
					{% else %}
					{% assign rich_content = settings.landing_row1_img2_rich_content %}
						{% include 'landing-rich-content' %}
					{% endunless %}
					{% if settings.landing_row1_img2_headline_enabled %}
						<figcaption>
							<h2>{{ settings.landing_row1_img2_headline }}</h2>
							{% if settings.landing_row1_img2_subheadline_enabled %}
								<h3>{{ settings.landing_row1_img2_subheadline }}</h3>
							{% endif %}
						</figcaption>
					{% endif %}		
				</figure>
			</a>
			{% endif %}
			{% if row1_cols >= 3 %}
				<a href="{{ settings.landing_row1_img3_link }}" onclick="_gaq.push(['_trackEvent', 'Home Page', 'Banner Click', '{{ settings.landing_row1_img3_headline | json | remove: '"' }}{% if settings.landing_row1_img3_subheadline_enabled %} {{ settings.landing_row1_img3_subheadline | json | remove: '"' }}{% endif %}']);">
				<figure class="{{ settings.landing_row1_img3_hcolor }} {{ settings.landing_row1_img3_width }} ">
						<div class="overlay"></div>
						{% unless settings.landing_row1_img3_rich_enabled %}
						<img class="scale-with-grid" src="{{ 'landing_row1_img3.jpg' | asset_url }}" alt="{{ settings.landing_row1_img3_alt }}">
						{% else %}
						{% assign rich_content = settings.landing_row1_img3_rich_content %}
							{% include 'landing-rich-content' %}
						{% endunless %}
						{% if settings.landing_row1_img3_headline_enabled %}
							<figcaption>
								<h2>{{ settings.landing_row1_img3_headline }}</h2>
								{% if settings.landing_row1_img3_subheadline_enabled %}
									<h3>{{ settings.landing_row1_img3_subheadline }}</h3>
								{% endif %}
							</figcaption>
						{% endif %}
				</figure>
				</a>
			{% endif %}
		</div>
	{% endif %}
	{% if settings.landing_row2_enabled %}
		{% assign row2_cols = 0 %}
		{% if settings.landing_row2_cols == "1" %}
			{% assign row2_cols = 1 %}
		{% endif %}
		{% if settings.landing_row2_cols == "2" %}
			{% assign row2_cols = 2 %}
		{% endif %}
		{% if settings.landing_row2_cols == "3" %}
			{% assign row2_cols = 3 %}
		{% endif %}
		<div class="row">
			{% if row2_cols >= 1 %}
				<a href="{{ settings.landing_row2_img1_link }}" onclick="_gaq.push(['_trackEvent', 'Home Page', 'Banner Click', '{{ settings.landing_row2_img1_headline | json | remove: '"' }}{% if settings.landing_row2_img1_subheadline_enabled %} {{ settings.landing_row2_img1_subheadline | json | remove: '"' }}{% endif %}']);">
				<figure class="{{ settings.landing_row2_img1_hcolor }} {{ settings.landing_row2_img1_width }}">
						<div class="overlay"></div>
						{% unless settings.landing_row2_img1_rich_enabled %}
						<img class="scale-with-grid" src="{{ 'landing_row2_img1.jpg' | asset_url }}" alt="{{ settings.landing_row2_img1_alt }}">
						{% else %}
						{% assign rich_content = settings.landing_row2_img1_rich_content %}
							{% include 'landing-rich-content' %}
						{% endunless %}
						{% if settings.landing_row2_img1_headline_enabled %}
							<figcaption>
								<h2>{{ settings.landing_row2_img1_headline }}</h2>
								{% if settings.landing_row2_img1_subheadline_enabled %}
									<h3>{{ settings.landing_row2_img1_subheadline }}</h3>
								{% endif %}
							</figcaption>
						{% endif %}
				</figure>
				</a>
			{% endif %}
			{% if row2_cols >= 2 %}
				<a href="{{ settings.landing_row2_img2_link }}" onclick="_gaq.push(['_trackEvent', 'Home Page', 'Banner Click', '{{ settings.landing_row2_img2_headline | json | remove: '"' }}{% if settings.landing_row2_img2_subheadline_enabled %} {{ settings.landing_row2_img2_subheadline | json | remove: '"' }}{% endif %}']);">
				<figure class="{{ settings.landing_row2_img2_hcolor }} {{ settings.landing_row2_img2_width }}">
						<div class="overlay"></div>
						{% unless settings.landing_row2_img2_rich_enabled %}
						<img class="scale-with-grid" src="{{ 'landing_row2_img2.jpg' | asset_url }}" alt="{{ settings.landing_row2_img2_alt }}">
						{% else %}
						{% assign rich_content = settings.landing_row2_img2rich_content %}
							{% include 'landing-rich-content' %}
						{% endunless %}
						{% if settings.landing_row2_img2_headline_enabled %}
							<figcaption>
								<h2>{{ settings.landing_row2_img2_headline }}</h2>
								{% if settings.landing_row2_img2_subheadline_enabled %}
									<h3>{{ settings.landing_row2_img2_subheadline }}</h3>
								{% endif %}
							</figcaption>
						{% endif %}
				</figure>
				</a>
			{% endif %}
			{% if row2_cols >= 3 %}
				<a href="{{ settings.landing_row2_img3_link }}" onclick="_gaq.push(['_trackEvent', 'Home Page', 'Banner Click', '{{ settings.landing_row2_img3_headline | json | remove: '"' }}{% if settings.landing_row2_img3_subheadline_enabled %} {{ settings.landing_row2_img3_subheadline | json | remove: '"' }}{% endif %}']);">
				<figure class="{{ settings.landing_row2_img3_hcolor }} {{ settings.landing_row2_img3_width }} ">
						<div class="overlay"></div>
						{% unless settings.landing_row2_img3_rich_enabled %}
						<img class="scale-with-grid" src="{{ 'landing_row2_img3.jpg' | asset_url }}" alt="{{ settings.landing_row2_img3_alt }}">
						{% else %}
						{% assign rich_content = settings.landing_row2_img3_rich_content %}
							{% include 'landing-rich-content' %}
						{% endunless %}
						{% if settings.landing_row2_img3_headline_enabled %}
							<figcaption>
								<h2>{{ settings.landing_row2_img3_headline }}</h2>
								{% if settings.landing_row2_img3_subheadline_enabled %}
									<h3>{{ settings.landing_row2_img3_subheadline }}</h3>
								{% endif %}
							</figcaption>
						{% endif %}
				</figure>
				</a>
			{% endif %}
		</div>
	{% endif %}
	{% if settings.landing_row3_enabled %}
		{% assign row3_cols = 0 %}
		{% if settings.landing_row3_cols == "1" %}
			{% assign row3_cols = 1 %}
		{% endif %}
		{% if settings.landing_row3_cols == "2" %}
			{% assign row3_cols = 2 %}
		{% endif %}
		{% if settings.landing_row3_cols == "3" %}
			{% assign row3_cols = 3 %}
		{% endif %}
		<div class="row">
			{% if row3_cols >= 1 %}
				<a href="{{ settings.landing_row3_img1_link }}" onclick="_gaq.push(['_trackEvent', 'Home Page', 'Banner Click', '{{ settings.landing_row3_img1_headline | json | remove: '"' }}{% if settings.landing_row3_img1_subheadline_enabled %} {{ settings.landing_row3_img1_subheadline | json | remove: '"' }}{% endif %}']);">
				<figure class="{{ settings.landing_row3_img1_hcolor }} {{ settings.landing_row3_img1_width }}">
						<div class="overlay"></div>
						{% unless settings.landing_row3_img1_rich_enabled %}
						<img class="scale-with-grid" src="{{ 'landing_row3_img1.jpg' | asset_url }}" alt="{{ settings.landing_row3_img1_alt }}">
						{% else %}
						{% assign rich_content = settings.landing_row3_img1_rich_content %}
							{% include 'landing-rich-content' %}
						{% endunless %}
						{% if settings.landing_row3_img1_headline_enabled %}
							<figcaption>
								<h2>{{ settings.landing_row3_img1_headline }}</h2>
								{% if settings.landing_row3_img1_subheadline_enabled %}
									<h3>{{ settings.landing_row3_img1_subheadline }}</h3>
								{% endif %}
							</figcaption>
						{% endif %}
				</figure>
				</a>
			{% endif %}
			{% if row3_cols >= 2 %}
				<a href="{{ settings.landing_row3_img2_link }}" onclick="_gaq.push(['_trackEvent', 'Home Page', 'Banner Click', '{{ settings.landing_row3_img2_headline | json | remove: '"' }}{% if settings.landing_row3_img2_subheadline_enabled %} {{ settings.landing_row3_img2_subheadline | json | remove: '"' }}{% endif %}']);">
				<figure class="{{ settings.landing_row3_img2_hcolor }} {{ settings.landing_row3_img2_width }}">
						<div class="overlay"></div>
						{% unless settings.landing_row3_img2_rich_enabled %}
						<img class="scale-with-grid" src="{{ 'landing_row3_img2.jpg' | asset_url }}" alt="{{ settings.landing_row3_img2_alt }}">
						{% else %}
						{% assign rich_content = settings.landing_row3_img2_rich_content %}
							{% include 'landing-rich-content' %}
						{% endunless %}
						{% if settings.landing_row3_img2_headline_enabled %}
							<figcaption>
								<h2>{{ settings.landing_row3_img2_headline }}</h2>
								{% if settings.landing_row3_img2_subheadline_enabled %}
									<h3>{{ settings.landing_row3_img2_subheadline }}</h3>
								{% endif %}
							</figcaption>
						{% endif %}
				</figure>
				</a>
			{% endif %}
			{% if row3_cols >= 3 %}
				<a href="{{ settings.landing_row3_img3_link }}" onclick="_gaq.push(['_trackEvent', 'Home Page', 'Banner Click', '{{ settings.landing_row3_img3_headline | json | remove: '"' }}{% if settings.landing_row3_img3_subheadline_enabled %} {{ settings.landing_row3_img3_subheadline | json | remove: '"' }}{% endif %}']);">
				<figure class="{{ settings.landing_row3_img3_hcolor }} {{ settings.landing_row3_img3_width }} ">
						<div class="overlay"></div>
						{% unless settings.landing_row3_img3_rich_enabled %}
						<img class="scale-with-grid" src="{{ 'landing_row3_img3.jpg' | asset_url }}" alt="{{ settings.landing_row3_img3_alt }}">
						{% else %}
						{% assign rich_content = settings.landing_row3_img3_rich_content %}
							{% include 'landing-rich-content' %}
						{% endunless %}
						{% if settings.landing_row3_img3_headline_enabled %}
							<figcaption>
								<h2>{{ settings.landing_row3_img3_headline }}</h2>
								{% if settings.landing_row3_img3_subheadline_enabled %}
									<h3>{{ settings.landing_row3_img3_subheadline }}</h3>
								{% endif %}
							</figcaption>
						{% endif %}
				</figure>
				</a>
			{% endif %}
		</div>
	{% endif %}
</section>