<figure class="product">
	<a href="{{ product.url | within: collection }}">
		{% for image in product.images limit:2 %}
			<img class="product-thumb {% if forloop.first %}primary{% endif %}{% if forloop.index == 2 %}secondary{% endif %}" src="{{ image.src | product_img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" />
		{% endfor %}
		<figcaption class="product-info">
			<div class="product-title">
				{{ product.vendor }} {{ product.title }}
			</div>
			<div class="product-price">
				{% if product.compare_at_price_min > product.price %}
				<span class="sale-price">{{ product.price | money }}</span>
				<span class="regular-price">{{ product.compare_at_price_max | money }}</span>
				{% else %}
				{{ product.price | money }}
				{% endif %}
			</div>
		</figcaption>
	</a>
</figure>