<div class="searchbar mobileonly">
	<form action="/search" method="get" class="search-form" role="search">
		<input name="q" type="text" class="topsearch-field" id="mobilesearch" placeholder=""/>
		<button type="submit" class="topsearch-btn" title="Search">
			<span class="icon-search">&nbsp;</span>
		</button>
	</form>
</div>
<ul id="drop-nav" class="level1 clearfix">
	{% for link in linklists.main-menu.links %}
	{% capture child_list_handle %}{{ link.title | handle }}{% endcapture %}
		<li {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}class="drop nav-{{ child_list_handle }}"{% endif %}>
			<a href="{{ link.url }}">{{ link.title }}</a>
			{% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
			<ul class="level2 clearfix">
				{% for link in linklists.[child_list_handle].links %}
				<li><a href="{{ link.url }}">{{ link.title }}</a></li>
				{% endfor %}
			</ul>
			{% endif %}
		</li>
	{% endfor %}
	<li id="closenav" class="button">
		<a id="nav-close-btn" href="#close"><span class="icon-cross"></span></a>
	</li>
</ul>