{% unless settings.shipping_calculator == 'Disabled' %}

<div id="shipping-calculator">
    
  <h3>{{ settings.shipping_calculator_heading }}</h3>

  <div>
    <p>
      <label for="address_country">Country</label>
      <select id="address_country" name="address[country]" data-default="{% if shop.customer_accounts_enabled and customer %}{{ customer.default_address.country }}{% elsif settings.shipping_calculator_default_country != '' %}{{ settings.shipping_calculator_default_country }}{% endif %}">{{ country_option_tags }}</select>
    </p>
    <p id="address_province_container" style="display:none;">
      <label for="address_province" id="address_province_label">Province</label>
      <select id="address_province" class="address_form" name="address[province]" data-default="{% if shop.customer_accounts_enabled and customer and customer.default_address.province != '' %}{{ customer.default_address.province }}{% endif %}"></select>
    </p>
  </div>
 
  <p>
    <label for="address_zip">Zip/Postal Code</label>
    <input type="text" id="address_zip" name="address[zip]"{% if shop.customer_accounts_enabled and customer %} value="{{ customer.default_address.zip }}"{% endif %} />
  </p> 
  <input type="button" class="get-rates button" value="{{ settings.shipping_calculator_submit_button_label }}" />
  <div id="wrapper-response"></div>
  
</div>

<script>
$(window).load(function(){
  Shopify.Cart.ShippingCalculator.show( {
    submitButton: '{{ settings.shipping_calculator_submit_button_label }}', 
    submitButtonDisabled: '{{ settings.shipping_calculator_submit_button_label_disabled }}'{% if shop.customer_accounts_enabled and customer %},
    customerIsLoggedIn: true{% endif %},
    moneyFormat: {{ shop.money_with_currency_format | json }}
  } );
});
</script>

{% endunless %}