<section class="about">
	<div class="wrapper">
		{% for block in section.blocks %}

			{% if block.type == 'hero' %}
				<div class="row about-section about-hero {% if block.settings.reversed %}about-hero--reversed{% endif %}">
					{% if block.settings.hero_image != blank %}
						<div class="col about-hero__image-wrap">
							<div class="about-hero__image" style="background-image:url({{ block.settings.hero_image | img_url: '1200x' }});"></div>
						</div>
					{% endif %}
					<div class="col about-hero__content">
						{% if block.settings.title != blank %}
							<h3 class="widget-heading">{{ block.settings.title }}</h3>
						{% endif %}
						{% if block.settings.body_text != blank %}
							<p class="about-hero__body">{{ block.settings.body_text }}</p>
						{% endif %}
					</div>
				</div>
			{% endif %}

			{% if block.type == 'image' %}
				{% if block.settings.image != blank %}
					<div class="about-section">
						<img src="{{ block.settings.image | img_url: '2200x'}}" alt="{{ block.settings.image.alt }}" class="about-image" />
					</div>
				{% endif %}
			{% endif %}

			{% if block.type == 'location' %}
				<div class="row about-section about-hero {% if block.settings.reversed %}about-hero--reversed{% endif %}">
					<div class="col about-map">
						<iframe width="100%" height="100%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJMaZcT3dxhlQRydmEdAaog_I&key=AIzaSyDMqBbjNfsA3l7o40tYtue3tVtt4nsVekI" allowfullscreen></iframe>
					</div>
					<div class="col about-hero__content">
						{% if block.settings.title != blank %}
							<h3 class="widget-heading">{{ block.settings.title }}</h3>
						{% endif %}
						{% if block.settings.body_text != blank %}
							<p>{{ block.settings.body_text }}</p>
						{% endif %}
					</div>
				</div>
			{% endif %}

		{% endfor %}
	</div>
</section>


{% schema %}
  {
    "name": "About",
	"blocks": [
		{
			"type": "hero",
			"name": "Hero Section",
			"settings": [
				{
					"type": "image_picker",
					"id": "hero_image",
					"label": "Hero Image"
				},
				{
					"type": "text",
					"id": "title",
					"label": "Heading Text"
				},
				{
					"type": "textarea",
					"id": "body_text",
					"label": "Body Text"
				},
				{
					"type": "checkbox",
					"id": "reversed",
					"label": "Reverse Layout"
				}
			]
		},
		{
			"type": "image",
			"name": "Image Section",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				}
			]
		},
		{
			"type": "location",
			"name": "Map Section",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Heading Text"
				},
				{
					"type": "textarea",
					"id": "body_text",
					"label": "Body Text"
				},
				{
					"type": "checkbox",
					"id": "reversed",
					"label": "Reverse Layout"
				}
			]
		}
	]
  }

{% endschema %}
